<section>
    <div class="" id=weather-card>
        <div class="card-body">
            <div class="text-center ">
                <h5 class="text-primary">
                    <strong>Today</strong>
                </h5>
                <h3 id="temp"></h3>
                <img id="icon" src="" alt="" />
                <p id="description" class="text-info font-weight-bold"></p>
            </div>
            <span class="devider-x w-100 d-flex" style=""></span>
            <div class="mt-2 d-flex flex-wrap justify-content-between gap-1">
                <span>Pressure: <span id="pressure"></span> hPa</span>
                <span>Humidity: <span id="humidity"></span> %</span>
                <span>Wind: <span id="wind"></span> m/s</span>
                <span>Visibility: <span id="visibility"></span> km</span>
            </div>
            <span class="devider-x w-100 d-flex mt-2" style=""></span>
            <div class="mt-2 d-flex flex-wrap justify-content-between">
                <span class="text-info font-weight-bold">
                    Sunrise: <span id="sunrise"></span>
                </span>

                <span class="text-info font-weight-bold">
                    Sunset: <span id="sunset"></span>
                </span>
            </div>
        </div>
    </div>
</section>