<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Book.App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Book.App.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav
            class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3 d-block">
            <div class="container-fluid">
                <a class="navbar-brand font-weight-bold text-light" asp-area="" asp-controller="Home"
                    asp-action="Index">
                    <img class="rounded me-2" style="width: 50px;height:50px;" src="~/images/th.jpeg" alt="logo" />
                    Bookmania
                </a>

                <div class="d-flex align-items-center">
                    <partial name="_UserPartial" />
                </div>
            </div>
            <div class="collapse justify-content-between container-fluid">
                <ul class="navbar-nav flex-row">
                    <li class="nav-item pe-2">
                        <a class="nav-link text-light pl-0" asp-area="" asp-controller="Home"
                            asp-action="Index">Home</a>
                    </li>
                    @if (User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value == "Admin")
                    {
                        <li class="nav-item  pe-2">
                            <a class="nav-link text-light" asp-area="" asp-controller="Tour" asp-action="AddTour">
                                Add Tour
                            </a>
                        </li>
                    }
                    <li class="nav-item pe-2">
                        <a class="nav-link text-light" asp-area="" asp-controller="Tour" asp-action="Tours">
                            Tours
                        </a>
                    </li>
                    <li class="nav-item pe-2">
                        <a class="nav-link text-light" asp-area="" asp-controller="Book" asp-action="Index">
                            Your Book Tours
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Bookmania - All rights reserved
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/imagePreview.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="~/js/tooltip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
