<div class="position-relative glass-2 p-2 rounded">
    <div id="toolbar">
        <button data-toggle="tooltip" data-placement="top" title="Start" type="button" data-tool="start"
            class="btn btn-primary">
            <span class="font-weight-bold">START</span>
        </button>
        <button data-toggle="tooltip" data-placement="top" title="End" type="button" data-tool="end"
            class="btn btn-primary">
            <ion-icon name="flag"></ion-icon>
        </button>
        <button data-toggle="tooltip" data-placement="top" title="Waypoint" type="button" data-tool="marker"
            class="btn btn-primary">
            <ion-icon name="location"></ion-icon>
        </button>
        <button data-toggle="tooltip" data-placement="top" title="Road" type="button" data-tool="road"
            class="btn btn-primary">
            <ion-icon name="ellipsis-vertical"></ion-icon>
        </button>
    </div>
</div>