<div class="position-relative mt-4 ">
    <div id="toolbar">
        <button data-toggle="tooltip" data-placement="top" title="Waypoint" type="button" onclick="selectTool('marker')"
            data-tool="marker" class="btn btn-primary">
            <ion-icon name="location"></ion-icon>
        </button>
        <button data-toggle="tooltip" data-placement="top" title="Road" type="button" onclick="selectTool('road')"
            data-tool="road" class="btn btn-primary">
            <ion-icon name="ellipsis-vertical"></ion-icon>
        </button>
    </div>
    <div id="map" class="rounded mt-2"></div>
</div>