<!-- Modal -->
<div class="modal fade" id="GalleryDetailsModal" tabindex="-1" role="dialog" aria-labelledby="GalleryDetailsModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: transparent;">
            <div class="modal-header bg-primary text-light">
                <h5 class="modal-title" id="exampleModalLongTitle">Image preview</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body glassmorphism d-flex justify-content-center">
                <img class="card-img-top" style="max-height: 800px; object-fit: cover;" src="" alt="">
            </div>
            <div class="modal-footer glassmorphism">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>