@model TourModel

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Tour" asp-action="EditTour" asp-route-id="@Model.Id">Tour</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Gallery" asp-action="Edit" asp-route-id="@Model.Id">Gallery</a>
    </li>
    <a class="nav-link" asp-controller="Waypoint" asp-action="Edit" asp-route-id="@Model.Id">Map</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Meal" asp-action="Edit" asp-route-id="@Model.Id">Meal</a>
    </li>
</ul>