<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Book.App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Book.App.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="bg-image">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <div class="d-flex justify-content-center position-relative position-absolute"
            style="overflow-x:hidden; top: 0px; z-index: -1;" id="earth">
            <div class="h4 position-absolute d-flex gap-3 text-primary glassmorphism p-3 rounded"
                style="left: 50%; top: .5rem; transform: translateX(-50%); z-index: 3">
                <ion-icon style="margin-top: 2px;" id="time-icon"></ion-icon>
                <span id="time"></span>
                <span id="country"></span>
            </div>
        </div>

        <footer style="bottom: 0px;" id="footer"
            class="border-top footer text-primary position-fixed w-100 glassmorphism">
            <div class="container p-2">
                &copy; 2024 - Bookmania - All rights reserved
            </div>
        </footer>
    </div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@@0.162.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@@0.162.0/examples/jsm/"
        }
    }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="~/js/time.js"></script>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>

    <script type="module" src="~/js/three/earthAnimation.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
