@using Microsoft.AspNetCore.Identity

@{
    var userName = User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value;
    var imagePath = User.FindFirst("ImagePath")?.Value;
}

<div class="d-flex gap-2">
    <a asp-action="UserInfo" asp-controller="User" data-toggle="tooltip" data-placement="bottom" title="@userName">
        <partial name="_UserImagePartial" model="imagePath" />
    </a>
    <span class="devider-y"></span>
    <a class="d-flex align-items-center" asp-action="Logout" asp-controller="User">
        <strong class="text-light m-0">Logout</strong>
    </a>
    <span class="devider-y"></span>
</div>