@using Book.App.Models
@model List<WaypointModel>

<div class="d-flex gap-2 mt-3 flex-wrap">
    @{
        var index = 0;
        var waypointsWithoutRoad = Model.Where(w => w.Type != WaypointType.Road).ToList();
    }
    @foreach (var waypoint in waypointsWithoutRoad)
    {
        <div class="d-flex align-items-center">
            <a class="text-secondary" asp-action="Details" asp-controller="Waypoint" asp-route-id="@waypoint.Id">
                <strong data-tour-waypoint id="waypoint-@waypoint.Id" class="d-block pe-2 waypoint">@waypoint.Name</strong>
            </a>

            @if (index < waypointsWithoutRoad.Count - 1)
            {
                var nextWaypoint = waypointsWithoutRoad[index + 1];

                if (nextWaypoint != null)
                {
                    <ion-icon data-tour-waypoint-arrow id="waypoint-arrow-@nextWaypoint.Id" class="text-primary waypoint-arrow"
                        name="arrow-forward"></ion-icon>
                }
            }
        </div>
        index++;
    }
</div>