@{
    ViewData["Title"] = "404 - Page Not Found";
}

<header class="d-flex justify-content-sm-between justify-content-center flex-wrap w-100 gap-3">
    <img class="glassmorphism rounded" src="~/images/booklogo.jpeg" alt="logo_bookmania" />
    <div class="glassmorphism h-sm-100 p-3 rounded" style="flex-grow: 1;">
        <h1 class="text-center">Bookmania</h1>
    </div>
</header>

<div>
    <div class="justify-content-center">
        <div class="text-center mt-3 glassmorphism p-3 rounded">
            <h1 class="display-4 font-weight-bold text-danger">400</h1>
            <p class="lead font-weight-bold">Resource not found :-(</p>
        </div>
    </div>

    <a href="/" class="btn btn-primary mt-3">Go to Home</a>
</div>
