@using Book.App.ViewModels
@model CreateTourViewModel

@{
    ViewData["Title"] = "Add Tour";
    Model.AddTourViewModel.TravelAgencyId = Model.AgencyModel.Id;
    var formTourViewModel = new FormTourViewModel
            {
                TourModel = Model.TourModel,
                AddTourViewModel = Model.AddTourViewModel
            };
}

<a asp-action="Tours" asp-controller="Agency" asp-route-agencyId="@Model.AgencyModel.Id"
    class="text-primary mb-3 d-flex align-items-center gap-1 glassmorphism p-3 rounded" data-toggle="tooltip"
    title="Go back to @Model.AgencyModel.Name agency">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Back
</a>

<header class="glassmorphism p-3 rounded d-flex align-items-center gap-2">
    <h2>
        Add Tour
    </h2>
</header>

<div>
    @using (Html.BeginForm("AddTour", "Tour", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="glassmorphism p-3 mt-3 rounded">
            <partial name="_TourFormPartial" model="@formTourViewModel" />
        </div>

        <input class="btn btn-primary mt-3" type="submit" value="Submit">
    }
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/dateGreaterThan.js"></script>
    <script src="~/js/resize-textarea.js"></script>
}
