@using Book.App.Helpers
@using Book.App.ViewModels
@model TourListViewModel

@{
    ViewData["Title"] = "Tours";
}

<div class="glassmorphism p-3 rounded mb-3">
    @if (Model.Tours.Count == 0)
    {
        <h3 class="mt-2">No tours available</h3>
    }
    else
    {
        <h5>Check out tours!</h5>
    }
</div>

<div class="d-flex gap-3">
    @await Component.InvokeAsync("Filters", new { filter = Model.FilterModel })
    <span class="glassmorphism p-2 rounded d-block mb-3" style="width: fit-content;">Total tours:
        @Model.TotalItems</span>
</div>
<partial name="_TourPagination" model="Model" />

<ul class="grid-tour gap-3 p-0 justify-content-center">
    @foreach (var tour in Model.Tours)
    {
        <partial name="_TourPartial" model="tour" />
    }
</ul>
