@using Book.App.ViewModels
@model UserViewModel

@{
    ViewData["Title"] = $"Welcome {Model.Name}";
}

<div>
    <h1>Welcome @Model.Name</h1>
    <p class="text-muted">Your role is: @Model.Role</p>
    <div class="d-flex gap-2">
        <a asp-action="Logout" asp-controller="User"><button class="btn btn-primary">Logout</button></a>
        <a asp-action="Delete" asp-controller="User"><button class="btn btn-danger">Delete account</button></a>
    </div>
</div>