@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-center">
        <h1>Explore the World with Exciting Tours!</h1>
        <p class="mt-4">Welcome to our world of adventure! Embark on unforgettable journeys and discover the beauty of
            diverse
            destinations with our curated selection of tours. Whether you seek cultural immersion, thrilling outdoor
            experiences, or simply a relaxing getaway, we have the perfect itinerary for you. Join us as we delve into
            breathtaking landscapes, delve into rich histories, and create lasting memories. Let's turn your travel
            dreams
            into reality!
        </p>
        <cite>
            <span class="text-primary">"Explore the World with Exciting Tours!"</span> - Your Gateway to Unforgettable
            Adventures.
        </cite>
    </div>
    <button class="btn btn-primary mt-4">
        <a class="text-light text-decoration-none" asp-action="Tours" asp-controller="Tour">
            Explore Tours
        </a>
    </button>
</div>
