@using Book.App.ViewModels
@model BooksViewModel

@{
    ViewData["Title"] = "Tour History";
}

<header>
    <h1>Your Tours History</h1>
</header>


@if (Model.Books.Count == 0)
{
    <p class="alert alert-warning h2">You have not been at any tour yet.</p>
}
else
{
    <ul class="gap-3 p-0 justify-content-center">
        @foreach (var tour in Model.Books)
        {
            <partial name="_BookTourItemPartial" model="tour" />
        }
    </ul>
}
