@using Book.App.ViewModels
@model BooksViewModel

@{
    ViewData["Title"] = "Tour History";
    var tours = Model.Books.Select(b => b.TourModel).ToList();
}

<header class="glassmorphism p-3 rounded">
    <h1>Your Tours History</h1>
</header>

<div class="d-flex justify-content-end glassmorphism mt-3 p-3 rounded">
    <partial name="_TotalPricePartial" model="@tours" />
</div>

@if (Model.Books.Count == 0)
{
    <p class="alert alert-warning h2 mt-3">You have not been at any tour yet.</p>
}
else
{
    <ul class="gap-3 p-0 justify-content-center">
        @foreach (var tour in Model.Books)
        {
            <partial name="_BookTourItemPartial" model="tour" />
        }
    </ul>
}
