@using Book.App.ViewModels
@model BooksViewModel

@{
    ViewData["Title"] = "Your tours";
}

<div class="alert alert-primary" role="alert">
    <a asp-action="History" asp-controller="Book">Check your tour history!</a>
</div>

<h1 class="text-uppercase">Your tours</h1>

@if (Model.Books.Count() == 0)
{
    <p>You have no trips yet.</p>
    <a asp-action="Tours" asp-controller="Tour">
        <button class="btn btn-primary">
            Book a trip
        </button>
    </a>
}
else
{
    <ul class="list-group">
        @foreach (var tour in Model.Books)
        {
            <partial name="_BookTourItemPartial" model="tour" />
        }
    </ul>
}