@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Scribble&display=swap'); */
html {
  font-size: 14px;
}

:root {
  --timeline-action-position: 0.5rem;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body * {
  font-family: 'Roboto', sans-serif;
}

.devider-y {
  border-right: 3px solid #e5e5e5;
}

.devider-x {
  border-bottom: 3px solid #525252;
}

.dash {
  border-top: 3px dashed #525252c1;
  width: 0.6rem;
}

.nav-item {
  transition: all 0.2s ease;
}

.nav-item:hover {
  translate: 0 -3px;
}

#map {
  height: 25rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.grid-tour {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}

@media (min-width: 768px) {
  .grid-tour {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }
}

.nav-item .active {
  scale: 1.1;
  font-weight: bolder;
}

.small-image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.leaflet-popup-content {
  margin: 10px !important;
}

.leaflet-popup-close-button {
  width: 17px !important;
  height: 15px !important;
  display: flex;
  align-items: center;
}

.custom-marker {
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 50%;
}

.start-marker {
  border: 0.2rem solid !important;
  margin-left: -1rem;
  margin-top: -1rem !important;
}

.start-marker span,
.icon-marker span {
  --border-width: 2px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: var(--border-width) solid;
  display: block;
  position: absolute;
  /* left: calc(var(--border-width) * -1);
  top: calc(var(--border-width) * -1); */
}

.icon-marker {
  font-size: 2rem;
  margin-left: -1rem;
  margin-top: -1rem !important;
}

.start-marker span:nth-child(1),
.icon-marker span:nth-child(1) {
  animation: pulse 3s infinite;
}

.start-marker span:nth-child(2),
.icon-marker span:nth-child(2) {
  animation: pulse 3s infinite;
  animation-delay: 1.5s;
}

.start-marker span:nth-child(3),
.icon-marker span:nth-child(3) {
  animation: pulse 3s infinite;
  animation-delay: 2.5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.7);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.waypoint-marker {
  margin-left: -1rem;
  margin-top: -1rem !important;
  color: rgb(213, 213, 17);
  font-size: 1.5rem;
}

.default-marker {
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 50%;
  margin-left: -0.5rem;
  margin-top: -0.5rem !important;
}

.carousel-control-prev,
.carousel-control-next {
  width: 2rem !important;
  background-color: #7777778f;
  backdrop-filter: blur(16px);
}

.carousel {
  /* background-color: #a5a5a555; */
}

.weather-card {
  background: linear-gradient(90deg, rgb(190, 191, 168) 0%, rgb(199, 208, 221) 39%, rgb(152, 166, 180) 100%);
  background-size: 170% 150%;
  animation: gradient 7s infinite;
}

.background {
  /* background-image: url(/images/bg.jpg); */
  background-position: center;
  background-attachment: fixed;
  /* animation: gradient 25s infinite; */
  background-repeat: no-repeat;
}

.glassmorphism {
  background-color: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(7px);
  box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.35);
}

.glass-2 {
  background-color: rgb(0 123 255 / 30%) !important;
  box-shadow: 0 0px 12px 0 rgb(0 123 255 / 25%) !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
    background-size: 100% 100%;
  }
  33% {
    background-position: 100% 70%;
    background-size: 110% 110%;
  }
  66% {
    background-position: 10% 20%;
    background-size: 130% 130%;
  }
  100% {
    background-position: 0% 0%;
    background-size: 100% 100%;
  }
}
/* Time line styles */
.checkpoint {
  position: relative;
  width: calc(50% - 1rem);
  opacity: 0;
}

.checkpoint:nth-child(odd) {
  left: calc(50% + 1rem);
  animation: transle-with-opacity-left 0.5s ease-in-out forwards;
  animation-delay: var(--delay);
}

.checkpoint:nth-child(even) {
  text-align: right;
  margin-right: -1rem;
  transform: translateX(-10px);
  animation: transle-with-opacity-right 0.5s ease-in-out forwards;
  animation-delay: var(--delay);
}

@keyframes transle-with-opacity-left {
  0% {
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes transle-with-opacity-right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.line,
.current-progress {
  position: absolute;
  left: 50%;
  width: 3px;
  top: 0;
  height: 0;
  transition: height 2s ease;
}

.line {
  height: 100%;
}

.line-dot,
.current-progress-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  transform: translateX(-20%);
  top: 0;
}

.current-progress-indicator {
  z-index: 1;
  animation: timeline-pulse 1s infinite;
  transition: top 2s ease;
}

.checkpoint:nth-child(even) .timeline-actions {
  bottom: var(--timeline-action-position);
  left: var(--timeline-action-position);
}

.checkpoint:nth-child(odd) .timeline-actions {
  bottom: var(--timeline-action-position);
  right: var(--timeline-action-position);
}

.timeline-starts-in.left::before,
.timeline-starts-in.right::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  rotate: 45deg;
  background-color: inherit;
  z-index: -1;
}

.timeline-starts-in.left::before {
  right: 0;
}

.timeline-starts-in.right::before {
  left: 0;
}

@keyframes timeline-pulse {
  0% {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfba6;
  }
  50% {
    box-shadow: 0 0 0 0.1rem rgb(215, 64, 64), 0 0 0 0.5rem #258cfb8a;
  }
  100% {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb7d;
  }
}

.waypoint-arrow.active {
  animation: right 1.5s infinite;
  scale: 1.1;
}

@keyframes right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.25rem);
  }
  100% {
    transform: translateX(0);
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  background-color: #a3bad2;
}

::-webkit-scrollbar-thumb {
  background-color: #258cfb;
  border-radius: 10px;
}
