html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.devider-y {
  border-right: 3px solid #e5e5e5;
}

.devider-x {
  border-bottom: 3px solid #525252;
}

.dash {
  border-top: 3px dashed #525252c1;
  width: 0.6rem;
}

.nav-item {
  transition: all 0.2s ease;
}

.nav-item:hover {
  translate: 0 -3px;
}

#map {
  height: 400px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.active {
  scale: 1.1;
  font-weight: bolder;
}

.small-image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.leaflet-popup-content {
  margin: 10px !important;
}

.leaflet-popup-close-button {
  width: 17px !important;
  height: 15px !important;
  display: flex;
  align-items: center;
}

.custom-marker {
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 50%;
}

.start-marker {
  border: 0.2rem solid !important;
  margin-left: -1rem;
  margin-top: -1rem !important;
}

.start-marker span,
.icon-marker span {
  --border-width: 2px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: var(--border-width) solid;
  display: block;
  position: absolute;
  /* left: calc(var(--border-width) * -1);
  top: calc(var(--border-width) * -1); */
}

.icon-marker {
  font-size: 2rem;
  margin-left: -1rem;
  margin-top: -1rem !important;
}

.start-marker span:nth-child(1),
.icon-marker span:nth-child(1) {
  animation: pulse 3s infinite;
}

.start-marker span:nth-child(2),
.icon-marker span:nth-child(2) {
  animation: pulse 3s infinite;
  animation-delay: 1.5s;
}

.start-marker span:nth-child(3),
.icon-marker span:nth-child(3) {
  animation: pulse 3s infinite;
  animation-delay: 2.5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.7);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.waypoint-marker {
  margin-left: -1rem;
  margin-top: -1rem !important;
  color: rgb(213, 213, 17);
  font-size: 1.5rem;
}

.default-marker {
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 50%;
  margin-left: -0.5rem;
  margin-top: -0.5rem !important;
}

.carousel-control-prev,
.carousel-control-next {
  width: 2rem !important;
  background-color: #5252528f;
}

.carousel {
  background-color: #52525255;
}

.weather-card {
  background: linear-gradient(
    90deg,
    rgb(208 209 175) 0%,
    rgb(204 206 209) 39%,
    rgb(154 187 223) 100%
  );
  background-size: 150% 150%;
  animation: gradient 10s infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
