@using Book.App.ViewModels
@using Book.App.Helpers
@model TravelAgencyViewModel

@{
    ViewData["Title"] = "Agency Details";
    var isAgencyAdmin = Html.HasRole("AgencyAdmin");
}

@if (Model.TravelAgency != null)
{
    int.TryParse(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value, out int userId);
    var isBelongToAgency = Model.TravelAgency.Users.Any(u => u.Id == userId);

    @if (!isBelongToAgency && !Model.TravelAgency.IsAccepted)
    {
        <div class="glassmorphism p-3 rounded">
            <h2>Agency not found</h2>
        </div>
    }
    else if (isBelongToAgency)
    {
        <partial name="_AgencyAdminPartial" model="@Model" />
    }
    else if (!isBelongToAgency && Model.TravelAgency.IsAccepted)
    {
        <header class="glassmorphism p-3 rounded">
            <h2>
                Welcome to <strong class="text-primary">@Model.TravelAgency.Name</strong>
            </h2>
        </header>
    }
}
else
{
    <p class="alert alert-error">Agency not found</p>
}


@section Scripts {
    <script src="~/js/resize-textarea.js"></script>
}
